<!-- Login error -->
<ng-container *ngIf="isLoginError && !ipRestricted">
  <div class="text-danger text-center mb-4">
    {{ 'share.login-form.authentication-error' | translate }}
  </div>
</ng-container>
<!-- IP Address Restriction Check: Current IP not allowed -->
<ng-container *ngIf="ipRestricted">
  <div class="text-danger text-center mb-4">{{ 'share.login-form.ip-not-allow' | translate }}</div>
</ng-container>

<ng-container>
  <select (change)="changeLang($event.target.value)">
    <option
      *ngFor="let lang of languages; let i = index"
      [value]="lang.lang"
      [selected]="isCurrentLang(lang.lang)"
    >
      <span>{{ lang.label }}</span>
    </option>
  </select>
</ng-container>

<!-- Login form -->
<form [formGroup]="form" (ngSubmit)="login()">
  <div class="form-group">
    <label for="email">
      <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>{{ 'common.email' | translate }}
    </label>
    <input
      type="text"
      formControlName="email"
      class="form-control"
      spellcheck="false"
      [spgAutofocus]="!emailSaved"
    />
    <spg-control-messages [control]="form.get('email')"></spg-control-messages>
  </div>
  <div class="form-group">
    <label for="password">
      <i class="fa fa-lock fa-fw" aria-hidden="true"></i>{{ 'common.password' | translate }}
    </label>
    <input
      type="password"
      formControlName="password"
      class="form-control"
      id="password"
      [spgAutofocus]="emailSaved"
    />
    <spg-control-messages [control]="form.get('password')"></spg-control-messages>
  </div>
  <div class="form-group">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input
          formControlName="saveCredentials"
          class="form-check-input"
          type="checkbox"
          value="true"
        />
        {{ 'share.login-form.save-mail-address' | translate }}
      </label>
    </div>
  </div>
  <div class="form-group" *ngIf="showButton">
    <button type="submit" class="btn btn-primary w-100" [disabled]="!form.valid || isProcessing">
      {{ 'common.login' | translate }}
    </button>
  </div>
  <div class="form-group text-center" *ngIf="showNavigate">
    <a [routerLink]="['/password/reset']">{{ 'common.need-help-signin' | translate }}</a>
  </div>
  {{ 'common.testLogin' | translate }}
</form>
